.card {
  border-radius: 0;
  border: none;
}
.infected {
  border-left: 7px solid rgba(0, 0, 255, 0.5);
}
.recovered {
  border-left: 7px solid rgba(0, 255, 0, 0.5);
}
.death {
  border-left: 7px solid rgba(255, 0, 0, 0.5);
}
.card-header {
  background-color: transparent !important;
}
.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #36d4c1;
  margin-right: 10px;
}
.btn {
  background-color: #36d4c1;
  color: #000000;
  font-size: large;
}
.my-custom-scrollbar {
  position: relative;
  height: 250px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.container,
.graph {
  margin-bottom: 10px;
}
